h1 {
  font-family: 'Crete Round', serif;
  font-size: 42px;
  color: #006b2e;
}

h2 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Courier', serif;
  font-size: 18px;
  color: #f7f7f7;
}
