html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #bf4040;
  top: 0;
  font-family: 'Crete Round', serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 5%;
  width: 100%;
  position: fixed;
  background-color: grey;
  bottom: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 1em;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.share-icon {
  width: 2em;
  padding: .5em 0;
}

#main-nav li {
  margin-right: 1em;
}

#main-content {
  padding: 3em;
  margin-top: -3%;
  margin-left: 7%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#share-bar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 10%;
  background-color: grey;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
