header {
  font-family: 'Crete Round', serif;
  color: #167500;
  font-weight: bold;
  font-size: 37px;
}

h2 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Courier', serif;
  font-size: 18px;
  color: #f7f7f7;
}
